#projects {
    margin: 150px 0;

    h2 {
        text-align: center;
        font-size: 44px;
        font-weight: bold;
        margin: 0 0 40px 0;
    }
}

.imgContainer>img {
    width: 100%;

}

.imgContainer {
    transition: box-shadow 0.5s;
    will-change: transform;
}

.r1,
.r2 {
    display: flex;
    justify-content: center;
}

.leftCol {
    padding: 20px 40px;

}

.rightCol {
    display: flex;
    justify-content: center;
    align-items: center;

}

.tabata {
    box-shadow: 2px 4px 25px -11px rgba(87, 85, 85, 0.75);
    border-radius: 5px;

}

.allRecipes {
    width: 90%;
    box-shadow: 2px 4px 25px -11px rgba(87, 85, 85, 0.75);
}

.DarkModeSite {
    width: 80%;
    box-shadow: 2px 4px 25px -11px rgba(87, 85, 85, 0.75);
}

.r2 {
    margin-top: 100px;
}

.r2>div {
    display: flex;
    justify-content: center;
}

.r3 {

    margin: 80px 0 0 0;

    .c3 {
        display: flex;
        justify-content: flex-end;

        button {
            width: 220px;
            margin-right: 100px;
            padding: 10px;
            background: none;
            outline: none;
            border: none;
            box-shadow: 2px 4px 25px -11px rgba(87, 85, 85, 0.75);
            border-radius: 15px;
        }
    }
}

@media only screen and (max-width: 900px) {

    .tabata,
    .allRecipes,
    .DarkModeSite {
        width: 100%;
        margin: 30px 0;
    }

    .r3 {
        .c3 {
            justify-content: center;
            button{
                margin:0 auto;
            }
        }
    }

}